.modal-body {
  padding: 20px;

  .heading {
    margin: 20px 0px;
  }

  .duration {
    display: flex;

    .form-control {
      width: 49%;
    }

    p {
      margin: 0px;
      padding-top: 3px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #000000;
    }
  }
}
